<section id="features" class="section">
      <div class="container">
        <div class="section-header">
          <h1 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">What we offer</h1>
          <h2 class="section-subtitle wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">Excellence is a continuous process and not an accident</h2>
        </div>
        <div class="row">

          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="features">
              <div class="icon">
                <i class="mdi-action-account-balance"></i>
              </div>
              <div class="features-text">
                <h4>Best Faculty</h4>
                <p>
                  We Belive that best can produce best. Hence we provide the top and most experienced faculty in Jabalpur.
                </p>
              </div>
             </div>
          </div>


          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="features">
              <div class="icon">
                <i class="mdi-action-done-all"></i>
              </div>
              <div class="features-text">
                <h4>Vibrant All India Test Series</h4>
                <p>
                  The Best way to learn is recall. Students are enrolled in Vibrant AITS so, they can compete with top students in India.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
            <div class="features">
              <div class="icon">
                <i class="mdi-image-blur-linear"></i>
              </div>
              <div class="features-text">
                <h4>Limited Batch Size</h4>
                <p>
                  40 : 1 batch size according to students So, the Teachers can dedicate more time and effort to each student.
                </p>
              </div>
            </div>
          </div>            


          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="650ms">
            <div class="features">
              <div class="icon">
                <i class="mdi-communication-business"></i>
              </div>
              <div class="features-text">
                <h4>Scholarships</h4>
                <p>
                  Upto 100% scholarships are provided to students on the basis of merit in Admission cum Scholarship test.
                </p>
              </div>
            </div>
          </div>


          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="750ms">
            <div class="features">
              <div class="icon">
                <i class="mdi-image-edit"></i>
              </div>
              <div class="features-text">
                <h4>Vedic Math</h4>
                <p>
                  Mental calculation techniques claimed to be based on the Vedas. Improve both speed and accuracy of students.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="850ms">
            <div class="features">
              <div class="icon">
                <i class="mdi-hardware-phonelink"></i>
              </div>
              <div class="features-text">
                <h4>Mobile Learning</h4>
                <p>
                  First time in Jabalpur Do assignments, take mock tests, keep track of your progress with our mobile application.
                </p>
              </div>
            </div>
          </div>   
        </div>
      </div>
    </section>

    <section id="why" class="section">
      <div class="container">
      
        <div class="row">     

          <div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="images/img1.png" alt="", height = "570">
          </div>

          <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="pull-left content">
              <h2>Our Upcoming app<br>Learning by Doing</h2>
              <p>
               First Time in Jabalpur Sove your assignments, give mock tests, track your progress all in one place with Quark App.
              </p>
              <ul class="list-item">
                <li><i class="mdi-action-done"></i>Give Quick Tests</li>
                <li><i class="mdi-action-done"></i>Review Your rank</li>
                <li><i class="mdi-action-done"></i>Compare your results</li>
                <li><i class="mdi-action-done"></i>Ask Questions</li>
                <li><i class="mdi-action-done"></i>Know More</li>
              </ul>
              <a href="javascript:void(0)" class="btn btn-lg btn-primary">Coming Soon</a>
            </div>
          </div>
        </div>
      </div>
    </section>
	
	
     <section id="main-features" class="section main-feature-gray">
      <div class="container">

        <div class="row">   
          <div class="col-md-8 col-sm-8 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="feature-item">
              <h3 class="title-small">
                What Our Director Has to say<br/>
              </h3>
              <h2>
                The Quark Carrier Institute is pioneer in the field of education. It has carved nich in delivering quality education
                theough its innovative and in-depth knowledge programs to the students enabling them to match with the best in global arena. We invite you to join us and become top class leader in the field of technology.<br/>"A Diamond sparkles only when it is Polished"
              </h2>
              <h2 style="position:relative; left:400px; bottom:20px;">
                - M.S Quazi Director, Quark Institute
              </h2>
            </div>
          </div>
          
          <div class="col-md-4 col-sm-4 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="images/QuaziSir.gif" height="200" class="img-responsive" alt="Quazi Sir">
          </div>  

        </div>

      </div>
    </section>

     <section id="main-features" class="section">
      <div class="container">


        <div class="row">   
          <div class="col-md-4 col-sm-4 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="images/LogoRed.png" class="img-responsive" alt="">
            <br/><br/>
            <img src="images/Tandan.gif" class="img-responsive" alt="">
          </div>    

          <div class="col-md-8 col-sm-8 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="feature-item">
              <h3 class="title-small">
                Courses Offered
              </h3>
              <div class="row">
    <div class="column">
      <div class="ui segment">
        <h1>Pre Foundation Course</h1>
        <h3>For 6th 7th 8th moving students<br/><b>Lakshya</b> AIPMT/ AIIMS/ IIT-JEE (2021-2023)</h3>
      </div>
      <div class="ui secondary segment">
       <h1>Foundation Course</h1>
       <h3>For 9th &amp; 10th moving students<br/><b>Lakshya</b> AIPMT/ AIIMS/ IIT-JEE (2019-2020)</h3>
      </div>
      <div class="ui tertiary segment">
        <h1>Target Course</h1>
        <h3>For 11th &amp; 12th moving students<br/><b>Lakshya</b> AIPMT/ AIIMS/ IIT-JEE (2017-2018)</h3>
      </div>
      <div class="ui inverted segment">
        <h1>Achievers Course</h1>
        <h3>For 12th pass students(Droppers)<br/><b>Lakshya</b> AIPMT/ AIIMS/ IIT-JEE (2017)</h3>
      </div>
    </div>
  </div>
</div>
            </div>
          </div>
          
        </div>

      </div>
    </section>


    <section id="cta">
      <div class="container">
        <div class="row text-center">         
            <h3 class="title-small wow bounce" data-wow-duration="1000ms" data-wow-delay="300ms">Join Us Today and Start Preparing Today</h3>
          </div>
      </div>
    </section>

    <br/><br/>

    <section id="other-features">
      <div class="container">
        <div class="section-header">
          <h1 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">Other Features</h1>
          <h2 class="section-subtitle wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">We Believe in Excellence</h2>
        </div> 
        <div class="row">
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="features-content">
              <div class="icon hi-icon-effect-3b">
                <i class="mdi-social-school"></i>
              </div>
              <h3>Experienced Faculty</h3>
              <p>We have Best faculties experienced in thier respective fields so that students can learn better</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-content-content-copy"></i>
              </div>
              <h3>Study Material</h3>
              <p>Study Material is itself sufficent and formulated by experienced faculty members</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="800ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-device-gps-not-fixed"></i>
              </div>
              <h3>Parallel Study Method</h3>
              <p>We focus on both school and competitve exams so the student does not need to waste extra time and money.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1000ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-social-person-outline"></i>
              </div>
              <h3>Monthly PTM</h3>
              <p>We Believe in maintaing transparency and all doubts of parents as well as students are made clear.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1200ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-action-grade"></i>
              </div>
              <h3>Super 30 Batch</h3>
              <p>For students having high response rate will be further introduced to more challending material.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1400ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-maps-local-library"></i>
              </div>
              <h3>Library</h3>
              <p>Up to date books and study material is available in library.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1600ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-maps-local-hotel"></i>
              </div>
              <h3>Hostel Facility</h3>
              <p>Students from outside will be provided suitable accomodations.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1800ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-maps-directions-bus"></i>
              </div>
              <h3>Transport</h3>
              <p>Tranport facilities is avilable at low cost. So the student can reach us no matter what.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="testimonial" class="section">
      <div class="container">
        <div class="section-header text-center wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
          <h1 class="section-title">What People Says</h1>
          <h2 class="section-subtitle">Student success makes us happy</h2>
        </div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#testimonial-carousel" data-slide-to="1"></li>
                <li data-target="#testimonial-carousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active text-center">               
                  <p>Quark seemed to be by far the best option: a program I could use whenever I liked, following my own schedule. success success</p>
                  <div class="meta">
                    <p>Web excutive <span><a href="http://wingthemes.com/">Raj</a></span></p>
                  </div>
                </div>
                <div class="item text-center">                
                  <p>Their features are unique and a refreshing change from the commonplace prep tools. blabalbla blabl balbm lablallb</p>
                  <div class="meta">
                    <p>Web excutive <span><a href="http://graygrids.com/">Richa</a></span></p>
                  </div>
                </div>
                <div class="item text-center">                
                  <p>So I really want to invest on my formation as a professional. I love the field that I chose to work, and I want to help improving the food production to reduce hunger.</p>
                  <div class="meta">
                    <p>Web excutive <span><a href="http://landingbow.com/">Landin</a></span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>




    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2 class="section-title">That's Where We Are</h2>
            <div class="ui vertically divided grid">
            <div class="row">
              <div class="four wide column">
                <div class="info">
                  <div class="icon">
                    <i class="mdi-maps-map"></i>
                  </div>
                  <h4>Location</h4>
                  <ol>
                    <li>Beside Bank of India, Vimalsheel Heights</li>
                    <li>Behind Mehta petrol pump</li>
                  </ol>
                  <p>Yadav Colony, Labour Chowk, Jabalpur M.P</p>
                </div>
              </div>
              <div class="four wide column">
                <div class="info">
                  <div class="icon">
                    <i class="mdi-action-settings-phone"></i>
                  </div>
                  <h4>Call</h4>
                  <p>
                    Feel free to call:<br/>
                    Tel : <b>0761-4003534</b><br/>Mobile : <b>9009976518, 9893033986</b>
                  </p>
                </div>
              </div>
              <div class="four wide column">
                <div class="info">
                  <div class="icon">
                    <i class="mdi-content-mail"></i>
                  </div>
                  <h4>Email</h4>
                  <p>
                    For any further query mail us on:<br/><b>quark.sajidqazi@gmail.com</b><br/>
                    We will try to reach you as soon as possible
                  </p>
                </div>
              </div>
              <div class="four wide column">
                <div class="info">
                  <div style="position:relative; bottom:20px;" class="icon">
                    <a class="social" href="https://www.facebook.com/Quark-Institute-625332377558275/?ref=hl" target="_blank"><i class="mdi-action-thumb-up"></i></a>
                  </div>
                  <h4 style="position:relative; bottom:30px;">Social Media</h4>
                  <p style="position:relative; bottom:30px;">Show your support and keep yourself motivated by <br/>liking our page on facebook<br/></p>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
      </div>
    </section>    

    <div class="map-area">      
      <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3668.0555762280746!2d79.91033911510952!3d23.16817161668406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjPCsDEwJzA1LjQiTiA3OcKwNTQnNDUuMSJF!5e0!3m2!1sen!2sin!4v1458486440280" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
       </div>
    </div>
    <section id="cta">
      <div class="container">
        <div class="row text-center">         
            <h3 class="title-small wow bounce" data-wow-duration="1000ms" data-wow-delay="300ms">Connect with Us     
              <a class="social" href="https://www.facebook.com/Quark-Institute-625332377558275/?ref=hl" target="_blank"><i class="fa fa-facebook"></i></a>
              <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
              <a class="social" href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
              <a class="social" href="#" target="_blank"><i class="fa fa-youtube"></i></a>
              </h3>
          </div>
      </div>
    </section>