
  	<div class="content-wrap">
     <header class="hero-area" id="home">
      
      <div class="container">
          <div class="col-md-12">

            <div class="navbar navbar-inverse sticky-navigation navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="200" style="background:transparent;">
              <div class="container">
                <div class="navbar-header">
                  <a class="logo-left " href="<%= root_path %>">Quark Institute</a>
                </div>
                
            </div>
        </div>        
        <div class="contents text-right">
			      
		        <img class="wow fadeInRight" src="images/LogoWhite.png" align="center">
            <p style="color: #D64541; position:relative; right:20px;" class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">Eminence Through Excellence</p>
            <h1 style="position:relative; right:30px;" class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">Start Preparing For</h1>
            <a href="#features" class="btn btn-lg btn-primary wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">Medical</a>
            <a href="#features" class="btn btn-lg btn-primary wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">IIT-JEE</a>
            <a href="#features" class="btn btn-lg btn-primary wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">Foundation</a>
        </div>   
    </header>